*{
    margin: 0px;
}

header{
    background-color: rgb(150, 159, 232);
    text-align: center;
    height: 100px;
}

a:link, a:visited, a:hover, a:active{
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(201, 209, 240);
}

footer{
    text-align: center;
    margin-top: 100px;
    background-color: rgb(150, 159, 232);
}

#corpo{
    height: 200px;
}

#idTextoFooter{
    padding-top: 50px;
    padding-bottom: 50px;
}

#textoHeader{
    padding-top: 15px;
}

#linksMenu{
    margin-top: 15px;
}

.classTextoTela{
    font-size: 20px;
    margin: 30px;
}

