*{
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#nav{
    background-color: #efe4f1!important;
}

a{
    text-decoration: none!important;
    color: black !important;
}

a:hover{
    color: rgb(255, 255, 255)!important;
}

#nav h3{
    margin-left: 5px;
}

.barras{
    background-color: rgb(179, 122, 209)!important;
}
