body{
    background-image: url("./IMG/light-1246043_1920.jpg");
    margin-left: 50px;
    margin-top: 250px;
    margin-right: 600px;
    color: black;
}

label{
    font-size: 20px;
}

.interagir{
    background-color: rgb(255, 158, 93);
    border-radius: 30px;
}

.segTxt{
    margin-left: 150px;
}

#quantidadeKwh{
    margin-left: 170px;
}