*{
    margin: 0px;
}

h1, h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nav{
    background-color: rgb(211, 211, 211);
}

#bandeira-mapa{
    width: 200px;
}