body{
    background-color: rgb(164, 199, 233);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px dotted rgb(15, 27, 116);
    padding: 20px 30px 20px 30px;
    text-align: justify;
}

h1{
    border: 2px solid #000;
    text-decoration: underline;
}

#detach{
    color: rgb(205, 0, 0);
    font-size: large;
}

.colorBlue{
    color: rgb(15, 27, 116);
}
