*{
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#nav{
    background-color: rgb(211, 211, 211)!important;
}

a{
    text-decoration: none;
    color: black !important;
}

a:hover{
    color: rgb(179, 122, 209)!important;
}

#nav h3{
    margin-left: 5px;
}